<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="First Test Suite">
    <parameter name="browserName" value="chrome"></parameter>
    <test name="First Test ">

        <classes>
            <class name="in.gfg.SeleniumDemoTest">


            </class>


        </classes>
    </test>


</suite>